#div0{
    height: 60px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 15px 15px rgba(22, 20, 20, 0.2),0px 10px 10px rgba(29, 21, 21, 0.2);
}
input[type=file],#div1,#p0{
    display: inline-block;
}
#div1{
    float: right;
    padding: 15px;
}
#p0{
padding-left: 25%;
}
button {
    background-color: rgb(128, 122, 122);
    outline: none;
    border: none;
    color: white;
    height: 20px;
}
button span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button span::after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover span{
    padding-right: 25px;
}
button:hover span::after{
    opacity: 1;;
    right: 0;
}
#image0,#p1{
    display: inline-block;
}